/* STANDART STYLE */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: initial;
    outline: initial;
}

h1{
    margin: 0px;
}

p{
    margin: 0px;
    padding: 0px;
}
/* END STANDART STYL# */

/* STYLE ACCOUNT */
.info-social img{
    width: 35px;
}
.block-account__img img{
    width: 180px;
}

.block-lastTags__star{
    display: none;
}

.block-account__content{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
}

.block-account__type{
    position: absolute;
    top: 10px;
    right: 0px;
}

.block-account__type{
    font-size: 21px;
    color: #848484;
    font-weight: 300;
}

.block-account__img {
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.block-account__info{
    margin-left: 40px;
    margin-right: 40px;
}

.info-fio{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 500;
}

.info-contact p{
    font-size: 25px;
    margin-bottom: 3px;
    font-weight: 300;
}

.info-contact span{
    font-weight: 400;
}

.info-contact a{
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}

.info-contact a:hover{
    text-decoration: none;
    opacity: 0.3;
    transition: 0.2s;
}

.info-social{
    margin-top: 15px;
}

.block-account__edit img{
    width: 25px;
}

.info-social a{
    margin-right: 15px;
}

.info-social a:last-child{
    margin-right: 0px;
}

.info-social img{
    transition: 0.2s;
}

.info-social a:hover img{
    opacity: 0.3;
    transition: 0.2s;
}

.block-account__edit img{
    transition: 0.2s;
}

.block-account__edit a:hover img{
    opacity: 0.3;
    transition: 0.2s;
}

.block-tags__title {
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 40px;
}

.block-tags__content {
    margin-bottom: 50px;
}

.block-tags__no{
    font-size: 30px;
    font-weight: 300;
    color: #6D6D6D;
    text-align: center;
}

.block-lastTags__content{
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    background-color: #E5E5E5;
    text-decoration: none;
    color: #000;
    margin-bottom: 40px;
}

.block-lastTags__content:hover{
    text-decoration: none;
    color: #000;
}

.block-lastTags__img{
    margin-right: 34px;
}

.block-lastTags__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-lastTags__info-name{
    font-size: 20px;
    font-weight: 500;
}

.block-lastTags__info-phone{
    font-size: 10px;
    font-weight: 400;
}

.block-lastTags__info-adress{
    font-size: 15px;
    font-weight: 400;
}
.block-lastTags__info-name{
    min-width: max-content;
}
.link-more{
    text-align: center;
}
.link-more a{
    text-decoration: underline;
    color: #000;
    transition: 0.2s;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
.link-more a:hover{
    color: #000;
    opacity: 0.3;
    transition: 0.2s;
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .block-lastTags__content{
        padding: 20px 20px 33px;
    }
    .block-lastTags__info-name{
        font-size: 22px;
        margin-left: 0px;
    }
    .block-lastTags__info-phone{
        margin-left: 0px;
        font-size: 14px;
    }
    .block-lastTags__info-adress{
        margin-left: 0px;
        font-size: 19px;
    }
    .block-account__info{
        margin-left: 40px;
        margin-right: 30px;
    }
    .block-account__img img{
        width: 260px;
    }
    .info-fio{
        font-size: 38px;
    }
    .info-contact p{
        font-size: 30px;
    }
    .info-social img{
        width: 40px;
    }
    .block-account__edit img{
        width: 26px;
    }
    .block-tags__title {
        font-size: 38px;
        margin-bottom: 30px;
    }
    .block-tags__content {
        margin-bottom: 40px;
    }
    .block-lastTags__content{
        margin-bottom: 25px;
    }
    .block-tags__no{
        font-size: 28px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .block-account__img img {
        width: 180px;
        margin-top: 60px;
    }
    .info-fio{
        font-size: 30px;
        margin-bottom: 30px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .info-contact p {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .info-social img{
        width: 45px;
    }
    .block-account__content{
        position: relative;
        margin-top: 55px;
        margin-bottom: 50px;
    }
    .block-account__info{
        margin-top: 60px;
        margin-left: 20px;
        margin-right: auto;

    }
    .block-account__edit img{
        width: 25px;
    }
    .block-tags__title{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .block-lastTags__content{
        background-color: #fff;
        padding: 0px;
        margin-bottom: 20px;
    }
    .block-lastTags__img {
        margin-right: 30px;
    }
    .block-lastTags__img img{
        width: 166px;
    }
    .block-lastTags__info{
        justify-content: start;
    }
    .block-lastTags__info-name{
        margin-left: 0px;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .block-lastTags__info-phone{
        margin-left: 0;
        font-size: 20px;
    }
    .block-lastTags__info-adress{
        margin-left: 0px;
        font-size: 25px;
    }
    .block-lastTags__info-nameAndPhone{
        margin-bottom: 15px;
    }
    .block-lastTags__content:last-child{
        margin-bottom: 40px;
    }
    .block-lastTags__star {
        display: flex;
        align-items: start;
    }
    .block-lastTags__star{
        font-size: 40px;
        font-weight: 700;
    }
    .block-lastTags__info{
        margin-right: auto;
    }
    .block-lastTags__star p{
        margin-top: 8px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    .block-account__img img {
        width: 180px;
        margin-top: 60px;
    }
    .info-fio{
        font-size: 30px;
        margin-bottom: 30px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .info-contact p {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .info-social img{
        width: 45px;
    }
    .block-account__content{
        position: relative;
        margin-top: 55px;
        margin-bottom: 50px;
    }
    .block-account__info{
        margin-top: 60px;
        margin-left: 20px;
        margin-right: auto;

    }
    .block-account__edit img{
        width: 25px;
    }
    .block-tags__title{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .block-lastTags__content{
        background-color: #fff;
        padding: 0px;
        margin-bottom: 20px;
    }
    .block-lastTags__img {
        margin-right: 15px;
    }
    .block-lastTags__img img{
        width: 166px;
    }
    .block-lastTags__info{
        justify-content: start;
    }
    .block-lastTags__info-name{
        margin-left: 0px;
        font-size: 28px;
        margin-bottom: 5px;
    }
    .block-lastTags__info-phone{
        margin-left: 0;
        font-size: 18px;
    }
    .block-lastTags__info-adress{
        margin-left: 0px;
        font-size: 23px;
    }
    .block-lastTags__info-nameAndPhone{
        margin-bottom: 15px;
    }
    .block-lastTags__content:last-child{
        margin-bottom: 40px;
    }
    .block-lastTags__star {
        display: flex;
        align-items: start;
    }
    .block-lastTags__star{
        font-size: 37px;
        font-weight: 700;
    }
    .block-lastTags__info{
        margin-right: auto;
    }
    .block-lastTags__star p{
        margin-top: 8px;
    }
}
@media (max-width: 575.98px){
    .block-account__img img {
        width: 150px;
        margin-top: 50px;
    }

    .info-fio {
        font-size: 22px;
        margin-bottom: 30px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .info-contact p {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .info-social img {
        width: 40px;
    }

    .block-account__content {
        position: relative;
        margin-top: 55px;
        margin-bottom: 50px;
    }

    .block-account__info {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: auto;

    }

    .block-account__edit img {
        width: 25px;
    }

    .block-tags__title {
        font-size: 25px;
        margin-bottom: 50px;
    }

    .block-lastTags__content {
        background-color: #fff;
        padding: 0px;
        margin-bottom: 20px;
    }

    .block-lastTags__img {
        margin-right: 15px;
    }

    .block-lastTags__img img {
        width: 150px;
    }

    .block-lastTags__info {
        justify-content: center;
    }

    .block-lastTags__info-name {
        margin-left: 0px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .block-lastTags__info-phone {
        margin-left: 0;
        font-size: 10px;
    }

    .block-lastTags__info-adress {
        margin-left: 0px;
        font-size: 15px;
    }

    .block-lastTags__info-nameAndPhone {
        margin-bottom: 15px;
    }

    .block-lastTags__content:last-child {
        margin-bottom: 40px;
    }

    .block-lastTags__star {
        display: flex;
        align-items: start;
    }

    .block-lastTags__star {
        font-size: 20px;
        font-weight: 700;
        margin-top: 35px;
    }

    .block-lastTags__star path{
        stroke-width:  6px;
    }

    .block-lastTags__star svg{
        width: 28px;
        height: 28px;
    }

    .block-lastTags__info {
        margin-right: auto;
    }

    .block-lastTags__star p {
        margin-top: 1px;
        margin-right: 5px;
    }
    .block-tags__no{
        font-size: 17px;
    }
}

@media (max-width: 479.98px) {
    .block-account__img img{
        width: calc(19.3vw + 58px);
    }
    .info-fio{
        font-size: calc(3vw + 7px);
    }
    .info-contact p{
        font-size: calc(3vw + 2px);
    }
    .info-social img{
        width: calc(5vw + 10px);
    }
    .info-social a {
        margin-right: 3px;
    }
    .block-tags__title{
        font-size: calc(3vw + 7px);
        margin-bottom: 35px;
    }
    .block-tags__no{
        font-size: calc(3vw + 2px);
    }
    .block-tags__content {
        margin-bottom: 35px;
    }
    .block-lastTags__img img{
        width: calc(14.3vw + 58px);
    }
    .block-lastTags__img {
        margin-right: 5px;
    }
    .block-lastTags__info-name{
        font-size: 17px;
    }
    .block-lastTags__info-adress {
        font-size: 13px;
    }
    .block-lastTags__star p {
        margin-top: 1px;
        margin-right: 1px;
    }
    .block-lastTags__star {
        font-size: 17px;
        font-weight: 700;
        margin-top: 14px;
    }
    .block-lastTags__star svg {
        width: 23px;
        height: 23px;
    }
    .block-account__edit img {
        width: 20px;
    }
    .block-account__info{
        margin-left: 12px;
    }
}
/* END STYLE ACCOUNT */


/* STYLE ACCOUNT CONTENT */

.block-statTags__content{
    padding: 20px 18px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    position: relative;
}

.block-statTags__stat-settings{
    display: flex;
    position: absolute;
    right: 8px;
}

.stat-views__quantity p{
    font-size: 15px;
}

.stat-views__text p{
    font-size: 15px;
}

.stat-rate__quantity p{
    font-size: 15px;
}

.stat-settings__edit img{
    margin-right: 3px;
    width: 20px;
}

.stat-settings__del img{
    width: 27px;
}

.block-statTags__stat-settings img{
    transition: 0.2s;
}

.block-statTags__stat-settings img:hover{
    opacity: 0.3;
    transition: 0.2s;
}

.block-statTags__info{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.block-statTags__info-img{
    margin-right: 18px;
}
.block-statTags__stat-views{
    display: flex;
    margin-bottom: 4px;
}
.block-statTags__stat-rate{
    display: flex;
    align-items: center;
}
.stat-rate__quantity svg{
    width: 27px;
    height: 27px;
    margin-right: 5px;
}
.stat-views__quantity img{
    margin-right: 5px;
}
.block-statTags__info-name{
    font-size: 20px;
    font-weight: 500;
}
.block-statTags__info-phone{
    font-size: 10px;
    font-weight: 400;
}
.block-statTags__info-adress{
    font-size: 15px;
    font-weight: 400;
}
.block-statTags__info-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stat-views__tetx{
    font-size: 15px;
}
.stat-views__quantity{
    margin-right: 9px;
    display: flex;
    align-items: center;
}
.stat-rate__quantity{
    margin-right: 9px;
    display: flex;
    align-items: center;
}
.block-statTags__link{
    text-align: center;
    margin-top: 20px;
}
.block-statTags__link a{
    color: #000;
    text-decoration: underline;
    font-size: 15px;
    transition: 0.2s;
}
.block-statTags__link a:hover{
    opacity: 0.3;
    transition: 0.2s;
}
/* END STYLE ACCOUNT CONTENT */

/* STYLE ACCOUNT SETTING */

.sub-header__button{
    display: flex;
    align-items: center;
}

.sub-header{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 95%;
    margin-left: auto;
}

.sub-header button{
    background-color: #74AB58;
    border: none;
    padding: 7px 21px;
    transition: 0.2s;
}

.sub-header button p{
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    transition: 0.2s;
}
.sub-header button:hover{
    background-color: #fff;  
    color: #74AB58;
    box-shadow: inset 0 0 0 2px#74AB58;
    transition: 0.2s;
}

.sub-header button:hover p{
    color: #74AB58;
    transition: 0.2s;
}

.block-personal__content-title{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.block-personal__form-img img{
    width: 180px;
}

.block-personal__content-form{
    display: flex;
}

.block-personal__form-content{
    margin-left: 40px;
}

.block-personal__form-content form label{
    font-size: 20px;
    min-width: 200px;
}

.checkbox{
    text-transform: uppercase;
    font-size: 17px!important;
    font-weight: 100;
    min-width: auto!important;
    margin-left: 25px;
    margin-top: 5px;
}

.checkbox input{
    margin-right: 5px;
}

.form-content__family input{
    max-width: 350px;
    width: 100%;
    margin-left: 3px;
    height: max-content;
}

.form-content__name input{
    max-width: 350px;
    width: 100%;
    margin-left: 3px;
    height: max-content;
}

.form-content__family{
    display: flex;
}

.form-content__name{
    display: flex;
}

.form-content__paternity{
    display: flex;
}
.form-content__paternity-input{
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
}
.form-content__birthday{
    display: flex;
}
.form-content__birthday-input{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}
.paternity-input__birthday input{
    max-width: 113px;
    width: 100%;
}

.form-content__adress{
    display: flex;
}

.form-content__adress input{
    max-width: 350px;
    width: 100%;
    margin-left: 3px;
    height: max-content;
}

.block-personal__form-contact label{
    font-size: 20px;
    min-width: 200px;
}
.block-personal__form-contact{
    margin-left: 60px;
}
.form-contact__email{
    display: flex;
}

.form-contact__email input{
    max-width: 350px;
    width: 100%;
    margin-left: 3px;
    height: max-content;
}

.form-contact__phone{
    display: flex;
}

.form-contact__phone input{
    max-width: 350px;
    width: 100%;
    margin-left: 3px;
    height: max-content;
}

.form-contact__site{
    display: flex;
}

.form-contact__site input{
    max-width: 350px;
    width: 100%;
    margin-left: 3px;
    height: max-content;
}

.form-contact__soc{
    display: flex;
    margin-top: 30px;
}

.form-contact__soc-input img{
    width: 38px;
    margin-right: 10px;
}

.soc-input__block{
    margin-bottom: 10px;
}

.form-contact__soc-input{
    max-width: 350px;
    width: 100%;
}

.soc-input__block input{
    max-width: 298px;
    width: 100%;
}

.block-personal__content-form{
    margin-bottom: 50px;
}

.block-personal__content{
    margin-bottom: 50px;
}

.block-personal__form-edit{
    margin-left: 60px;
}

.block-personal__form-edit label{
    font-size: 20px;
    min-width: 200px;
}

.form-edit__login{
    display: flex;
}

.form-edit__login input{
    max-width: 350px;
    width: 100%;
    margin-left: 3px;
    height: max-content;
}

.form-edit__password{
    display: flex;
}

.form-edit__password input{
    max-width: 350px;
    width: 100%;
    margin-left: 3px;
    height: max-content;
}

.form-edit__retPassword{
    display: flex;
}

.form-edit__retPassword input{
    max-width: 350px;
    width: 100%;
    margin-left: 3px;
    height: max-content;
}

.save_button{
    text-align: center;
    margin-bottom: 50px;
}

.save_button button{
    background-color: #74AB58;
    border: none;
    padding: 10px 30px;
    transition: 0.2s;
}

.save_button p{
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    transition: 0.2s;
}

.save_button button:hover {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px#74AB58;
}

.save_button button:hover p{
    color: #74AB58!important;
}
/* END STYLE ACCOUNT SETTING */


/* STYLE LIST */

.section-title{
    margin-bottom: 50px;
}

.section-serch{
    margin-bottom: 50px;
}

.section-serch input{
    width: 50%;
    padding: 9px 9px 9px 20px;
}

.agencie-item{
    display: flex;
    position: relative;
}

.agencie-item__img{
    margin-right: 18px;
}

.agencie-item__name{
    font-size: 20px;
    font-weight: 500;
}

.agencie-item__phone{
    font-size: 13px;
    font-weight: 400;
}

.agencie-item__phone{
    margin-bottom: 10px;
}

.agencie-item__start{
    display: flex;
    position: absolute;
    top: 0;
    right: 0%;
    align-items: center;
}

.agencie-item__start p {
    font-weight: bolder;
    font-size: 27px;
    margin-right: 3px;
}

.agencie-item__start svg{
    width: 38px;
    height: 38px;
}
/* END STYLE LIST */